.each-project-div {
  display: flex;
  justify-content: space-around;
} .project-image-div {
  display: flex;
  width: 45%;
} .project-image-div img {
  width: 100%;
  border: 1px solid black;
}

.project-info-div {
  width: 45%;
} .project-info-div h1 {
  font-size: 45px;
  text-align: center;
  width: fit-content;
  padding: 5px;
  border-bottom: 1px solid black;
} .project-name-header {
  display: flex;
  justify-content: center;
} 

.project-info-div p {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
}

.project-links-section {
  display: flex;
  justify-content: space-around;
} .project-links-section div {
  width: 50%;
  text-align: center;
  border: 1px solid black;
  transition-duration: 300ms;
  color: black;
} .project-links-section h2:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  transition-duration: 300ms;
} .project-links-section a {
  text-decoration: none;
} .project-links-section h2 {
  color: black;
  margin: 0;
  padding: 20px 0;
}

@media screen and (max-width: 1250px) {
  .each-project-div h1 {
    font-size: 35px;
  } .each-project-div p {
    font-size: 20px;
  } .each-project-div h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .project-image-div {
    width: 49%;
  } .project-info-div {
    width: 49%;
  }
}

@media screen and (max-width: 950px) {
  .project-image-div {
    width: 68%;
  } .project-info-div {
    width: 30%;
  }
}

@media screen and (max-width: 850px) {
  .project-image-div {
    display: none;
  } .project-info-div {
    width: 90%;
  }
}