nav {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  justify-content: space-between;
  background-color: aliceblue;
} .nav-name {
  display: inline;
} .nav-links {
  display: inline;
  padding: 0 25px;
} .left-nav {
  padding: 15px 15px 15px 25px;
} .right-nav {
  padding: 15px;
}

.nav-links:hover {
  cursor: pointer;
}