@import url('https://fonts.googleapis.com/css2?family=kanit');
* {
  font-family: Kanit;
} html {
  min-height: 100%;
}

.header-div {
  min-height: 15%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px  solid black; */
} 

.top-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 60px 40px 60px 40px;
  border-bottom: 1px solid black;
  align-items: center;
} .pfp-section img {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 1px 1px 20px black;
} .about-me {
  border: 1px solid black;
  width: 500px;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 1px 1px 5px black;
} .about-me h1 {
  font-size: 50px;
  text-align: center;
} .about-me p {
  font-size: 35px;
  padding: 20px;
  text-align: center;
}

.bottom-section {
  background-color: rgb(124, 211, 218)
} .bottom-section h1 {
  text-align: center;
} .bottom-section div {
  margin: 0;
} .skillsets-div div {
  /* border: 1px solid black; */
  margin: 0 10px;
  min-width: 30%;
  max-width: 30%;
} .skillsets-div {
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
} .skillsets-div p {
  font-size: 25px;
  padding: 20px 55px;
  text-align: center;
} .skillset-header {
  margin-top: 0;
  padding-top: 50px;
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 55px;
} .skillset-header-div {
  display: flex;
  justify-content: center;
} .skillsets-div h1 {
  font-size: 45px;
}

@media screen and (max-width: 1285px) {
  .header-div {
    justify-content: left;
    padding-left: 20px;
  } .bottom-section div {
    margin: 0;
  }
}

@media screen and (max-width: 1180px) {
  .top-section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  } .pfp-section {
    display: flex;
    justify-content: center;
  } .about-me-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  } 

  .skillsets-div {
    flex-direction: column;
  } .skillsets-div div {
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 815px) {
  .header-div {
    justify-content: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .top-section {
    margin: 0%;
  }
}

@media screen and (max-width: 545px) {
  .pfp-section img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 545px) {
  .pfp-section img {
    width: 350px;
    height: 350px;
  } .about-me p {
    padding: 0;
    font-size: 25px;
  } .top-section {
    margin-top: 15px;
  } .about-me-section {
    width: 100%;
    padding: 0;
    margin: 20px 0;
  } .top-section {
    padding: 0 2px;
  } .skillsets-div p {
    padding: 20px 20px;
  } .skillset-header {
    padding-top: 25px;
  } .skillsets-div {
    padding-bottom: 20px;
  }
}