header div {
  display: flex;
  justify-content: center;
} header h2 {
  font-size: 40px;
  text-decoration: none;
  align-items: center;
  display: flex;
  min-height: 85px;
  margin: 0 10px 0 0;
  padding: 0 10px;
} header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(124, 211, 218);
  border-bottom: 1px solid black;
} header h2:hover {
  cursor: pointer;
  color: rgb(124, 211, 218);
  background-color: black;
  transition-duration: 350ms;
  transition-delay: 0ms;
} .header-links {
  user-select: none;
  color: black;
  text-decoration: none;
} .name-header {
  text-align: center;
  font-size: 65px;
  margin: 5px 0 5px 125px;
  max-height: 132px;
} 

@media screen and (max-width: 815px) {
  header {
    bottom: 0;
    left: 0;
  }
}