header div {
  display: flex;
  justify-content: center;
} header h2 {
  font-size: 40px;
  text-decoration: none;
  align-items: center;
  display: flex;
  min-height: 85px;
  margin: 0 10px 0 0;
  padding: 0 10px;
} header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(124, 211, 218);
  border-bottom: 1px solid black;
} header h2:hover {
  cursor: pointer;
  color: rgb(124, 211, 218);
  background-color: black;
  transition-duration: 350ms;
  transition-delay: 0ms;
} .header-links {
  user-select: none;
  color: black;
  text-decoration: none;
} .name-header {
  text-align: center;
  font-size: 65px;
  max-height: 132px;
  margin: 0;
  transition-duration: 300ms;
} .name-head-link {
  text-decoration: none;
  color: black;
  margin: 5px 0 5px 125px;
} .name-header:hover {
  text-shadow: 1px 1px 10px rgb(131, 131, 131);
  transition-duration: 300ms;
} .hide-nav {
  display: flex;
} 

.navigation-dropdown {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 65px;
  margin-top: 10px;
  padding: 0 10px;
  transition-duration: 300ms;
} .navigation-dropdown div {
  display: none;
  border: 1px solid black;
  width: 60px;
  height: 8px;
  background-color: black;
  border-radius: 10px;
  transition-duration: 300ms;
}

#nav-dropdown-1 {
  transform: rotate(0.125turn) translate(17px, 17px);
  transition-duration: 300ms;
  margin-top: -12px;
} #nav-dropdown-2 {
  display: none;
  transition-duration: 300ms;
} #nav-dropdown-3 {
  transform: rotate(-0.125turn) translate(5px, -5px);
  transition-duration: 300ms;
  margin-top: -12px;
} 

@media screen and (max-width: 1180px) {
  .name-header {
    margin-left: 5px;
  }
}

@media screen and (max-width: 925px) {
  header {
    flex-direction: column;
    display: flex;
    justify-content: center;
  } .header-links-div {
    flex-direction: column;
    min-width: 100%;
    margin-top: 85px;
  } .header-links {
    text-align: center;
    display: flex;
    justify-content: center;
    min-width: 100%;
    transition-duration: 300ms;
  } .header-links h2 {
    margin: 0;
    padding: 0;
    text-align: center;
  } .name-header {
    position: absolute;
    left: 0;
  }

  .header-links:hover {
    background-color: azure;
    transition-duration: 300ms;
  } header h2:hover {
    cursor: pointer;
    color: black;
    background-color: unset;
  } .hide-nav {
    display: none;
  } .navigation-dropdown div {
    display: flex;
  }
}

@media screen and (max-width: 665px) {
  .name-header {
    justify-content: left;
  } .name-header-div {
    float: left;
  } 
}

@media screen and (max-width: 545px) {
  .name-header {
    margin-top: 12.5px;
    font-size: 50px;
    align-items: center;
  } 
}

@media screen and (max-width: 435px) {
  .name-header {
    margin-top: 17.5px;
    font-size: 40px;
    align-items: center;
  } 
}